body { background-color: #801515 }

.content { background-color: white }

.footer { text-align: center; clear: both; }

.navigation_header {}

.breadcrumbs { padding-top: .5em; font-size: .8em; }

.navigation { float: left }

.article { float: left; padding: 2em; }
